<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <div class="shop">
    <img class="img-fluid mb-5 d-block mx-auto" src="https://s1.ax1x.com/2018/04/24/Cl8ivt.png" alt="">
    </div>
    <h1 class="text-uppercase mb-0">人航财务支付辅助系统</h1>
    <hr class="star-light">
    <h2 class="font-weight-light mb-0">对外汇款请先注册登陆后填写相关付款信息</h2>
  </div>
</header>
