<%= simple_form_for @post do |f| %>
  <div class="form-post">
    <%= f.input :content, input_html: { class: "form-control"} %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", date: {disable_with: "Submiting..."} %>
  <% end %>
