<!DOCTYPE html>
<html lang="en">
  <body>
    <header class="masthead text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <h1 class="masthead-heading mb-0">快速了解付款流程</h1>
          <h2 class="masthead-subheading mb-0">每一步都不可或缺</h2>
        </div>
      </div>
      <div class="bg-circle-1 bg-circle"></div>
      <div class="bg-circle-2 bg-circle"></div>
      <div class="bg-circle-3 bg-circle"></div>
      <div class="bg-circle-4 bg-circle"></div>
    </header>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="https://s1.ax1x.com/2018/04/27/C3WmFS.md.jpg" width="500" height="300" alt="Edit Entry">

            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">第一步支出凭单</h2>
              <p>填写支出凭单，凑齐两个签字。1.经手人自己先签字；2.领导审批。支出凭单可在“下载专区”进行下载，大写人民币输入数字后自动生成，不用更改。如果是对外付款需要使用支票，进入第二步填写支票领用单。如果自己现金报销，进入第三步发票环节。</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="https://s1.ax1x.com/2018/04/27/C3ROqx.jpg" width="500" height="300" alt="Edit Entry">


            </div>
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <h2 class="display-4">第二步支票领用单</h2>
              <p>填写“支票领用单”。根据实际情况填写收款单位、用途、支票金额，请注意该张单据也需要找领导签字。</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid rounded-circle" src="https://s1.ax1x.com/2018/04/27/C3WVdf.md.jpg" width="500" height="300" alt="Edit Entry">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-4">第三步发票</h2>
              <p>拿上发票需要干两件事。1.拿到财务处盖章后，填写日期事由并找领导签字。2.发票验真，大部分北京开具的发票可在http://www.bjtax.gov.cn/ptfp/fpindex.jsp该网站查询真伪后并打印。</p>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
