<div class="col-md-12">
  <div class="post">
    <%= link_to("新增附件", new_resume_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>#</td>
        <td>文件名</td>
      </tr>
    </thead>
    <tbody>
      <% @resumes.each do |resume| %>
        <tr>
          <td>#</td>
          <td><%= resume.content %></td>
           <td>
            <% if resume.attachment.present? %>
              <i class="fa fa-paperclip"></i>
              <%= link_to("点击下载", resume.attachment_url) %>
              <%= link_to("删除", resume_path(resume),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
            <% else %>
              No Attachment
            <% end %>
            </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
