<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>文件名</td>
      </tr>
    </thead>
    <tbody>
      <% @resumes.each do |resume| %>
        <tr>
          <td>#</td>
          <td><%= resume.content %></td>
          <td>
              <%= link_to("修改", edit_resume_path(resume), class: "btn btn-sm btn-default")%>
              <%= link_to("删除", resume_path(resume),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
